<!DOCTYPE html>
<html>
<head>

<title>Contact</title>

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>

<body>

<div class="container mt-5">

<h2>Contact Binge Biryani</h2>

<form>

<input class="form-control mb-3"
placeholder="Name">

<input class="form-control mb-3"
placeholder="Email">

<textarea class="form-control mb-3"
placeholder="Message"></textarea>

<button class="btn btn-primary">
Send Message
</button>

</form>

<h3 class="mt-5">Our Location</h3>

<iframe
width="100%"
height="300"
src="https://www.google.com/maps?q=Hyderabad&output=embed">
</iframe>

</div>

</body>
</html>
