<!DOCTYPE html>
<html>
<head>
    <title>Room Booking</title>
</head>
<body>

    <h1>Room Booking Page 🏨</h1>

    <p>Welcome to Room Booking Section</p>

    <hr>

    <h2>Available Rooms</h2>

    <ul>
<h2>Rooms</h2>

<ul>
    {% for room in rooms %}
        <li>{{ room.name }} - ₹{{ room.price }}</li>
    {% endfor %}
    </ul>

    <hr>

    <h2>Book Your Room</h2>

    <form method="post">
        {% csrf_token %}
        
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Room Type:</label><br>
        <select name="room_type">
            <option>Single</option>
            <option>Double</option>
            <option>Deluxe</option>
        </select><br><br>

        <label>Date:</label><br>
        <input type="date" name="date" required><br><br>

        <button type="submit">Book Now</button>
    </form>

    <hr>

    <a href="/">⬅ Back to Home</a>

</body>
</html>
